<a href="https://colab.research.google.com/github/thak123/winter-school-ffzg-2023/blob/main/0_Basics_and_Terminology.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Inline execution

In [ ]:
1+1

### Print

In [1]:
print("hello world")

hello world

### Variables

In [3]:
#TODO replace "test" with your name
name = "test"

In [4]:
print("my name is",name )

my name is test

In [5]:
def add(x,y):
    return x+y

In [6]:
add(2,3)

5

In [7]:
#TODO write function for subtraction
def sub(x,y):
    return #this is a comment

In [ ]:
a = 
b = 
sub(a,b)

### iterators

In [ ]:
our_list = ['Lily', 'Brad', 'Fatima', 'Zining']

for name in our_list:
    print(name)

### TODO Modify list with names of the fruits and print

In [ ]:
our_list = ['', '', '', '']

for name in our_list:
    print(name)